span {
  display: none;
  font-size: 12px;
  padding: 5px;
  color: red;
}

#alert-msg {
  display: none;
  text-align: center;
  font-size: 20px;
  font-weight: 400;
  position: relative;
  top: 30px;
}

#main-content {
  display: none;
  margin-top: 20px;
  border: 2px solid #3e9887;
  border-radius: 5px;
  padding: 5px;
}

#main-content li {
  list-style: none;
  color: white;
  font-size: 22px;
}
