body,
body * {
  margin: 0;
  padding: 0;
  vertical-align: top;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

form {
  background-color: rgb(42, 54, 63);
  height: 100vh;
}

.container {
  display: flex;
  flex-direction: column;
}
