.response-wrapper {
  padding: 30px;
}

.planner-logo-img {
  width: 50px;
}

.title-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  gap: 10px;
}

h1 {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-weight: 100;
  font-size: 50px;
}

.response-container {
  display: none;
  margin-top: 20px;
  display: flex;
  border: 2px solid #3e9887;
  padding: 5px;
}

.busy-data-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
